@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --background: #ffffff;
  --foreground: #fff;
  --scrollbar-thumb: rgba(9, 20, 26, 1);
  --scrollbar-track: rgba(255, 255, 255, 0.3);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(9, 20, 26, 0.7);
}
